:root { /*Pseudoselector variables de CSS*/
    --blanco: #ffffff;
    --obscuro: #212121;
    --primario: #FFC107;
    --secundario: #0097A7;
    --gris:#757575;
    --fuente-principal: 3.8rem; 
}

html{
    font-size: 62.5%;
}

body{
    font-size: 16px; /* 1rem = 10 px*/ 
}

.titulo{
    text-align: center;
    font-size: 3.8rem;
    color: var(--primario);
    font-family: 'Krub', sans-serif;
}

.titulo span{
    font-size: 2rem;
}